<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true"
         bootstrap="tests/bootstrap.php.dist"
>
    <testsuites>
        <testsuite name="NGS test suite">
            <directory>./tests/unit/</directory>
        </testsuite>
    </testsuites>

    <php>
        <ini name="error_reporting" value="E_ALL"/>
        <env name="s3_key" value="">
        <env name="s3_secret" value="">
    </php>

    <filter>
      <whitelist processUncoveredFilesFromWhitelist="true">
        <directory suffix=".php">/NGS</directory>
      </whitelist>
    </filter>
</phpunit>
