<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true"
         bootstrap="tests/bootstrap.php.dist"
>
    <testsuites>
        <testsuite name="client">
            <directory>./tests/unit/client/</directory>
        </testsuite>
        <testsuite name="concepts">
            <directory>./tests/unit/concepts/</directory>
        </testsuite>
        <testsuite name="converters">
            <directory>./tests/unit/converters/</directory>
        </testsuite>
        <testsuite name="objects">
            <directory>./tests/unit/objects/</directory>
        </testsuite>
        <testsuite name="persistence">
            <directory>./tests/unit/persistence/</directory>
        </testsuite>
        <testsuite name="types">
            <directory>./tests/unit/types/</directory>
        </testsuite>
    </testsuites>

    <php>
        <ini name="error_reporting" value="E_ALL"/>
        <env name="s3_key" value="" />
        <env name="s3_secret" value="" />
        
        <env name="require_bootstrap" value="true" />
        
        <!--env name="client_url" value="" /-->
        <!--env name="client_username" value="" /-->
        <!--env name="client_password" value="" /-->
    
        <env name="modules_path" value="tests/platform/modules/Modules.php" />
    </php>

    <filter>
      <whitelist processUncoveredFilesFromWhitelist="true">
        <directory suffix=".php">/NGS</directory>
      </whitelist>
    </filter>

    <listeners>
        <listener class="FailLogListener" file="./tests/unit/FailLogListener.php"/>
    </listeners>
</phpunit>
