<?php

// runs tests using dsl-client-php downloaded from dsl-platform.com

$autoloadPath = __DIR__.'/../vendor/autoload.php';
if (!is_file($autoloadPath))
    throw new InvalidArgumentException('vendor/autoload.php file was not found! Did you run \'composer install/update\'?');
require_once $autoloadPath;

require_once __DIR__.'/src/BaseTestCase.php';
require_once __DIR__.'/src/FaultyClient.php';

$dsl_config = __DIR__.'/../dsl_config.json';
if (!is_file($dsl_config))
    throw new InvalidArgumentException('No dsl_config.json file was found! Did you setup DSL platform with \'composer install\'');
$config = json_decode(file_get_contents($dsl_config), true);

$url = $config['revenj_url'];
if (substr($url, strlen($url)-1) !== '/')
    $url .= '/';

$client = new NGS\Client\HttpClient($url, 'revenj', 'revenj');
NGS\Client\HttpClient::instance($client);

$revenj_path = (strpos($config['revenj_path'], '/') === 0)
    ? $config['revenj_path']
    : realpath(__DIR__.'/..') . '/' . $config['revenj_path'];

$documents = array('template.txt' => '/template.txt');
foreach ($documents as $src => $dest) {
    if (file_exists($revenj_path . '/' . $dest))
        continue;

    if (!copy(__DIR__ . '/fixtures/' . $src, $revenj_path . '/' . $dest))
        throw new InvalidArgumentException('Could not copy test documents (' . $src . ') to revenj folder!');
}

// \DslPlatform\Installer::start();
