<?php

// runs tests using dsl-client-php downloaded from dsl-platform.com

$autoloadPath = __DIR__.'/../vendor/autoload.php';
if (!is_file($autoloadPath))
    throw new InvalidArgumentException('vendor/autoload.php file was not found! Did you run \'composer install/update\'?');
require_once $autoloadPath;

$bootstrapPath = __DIR__.'/platform/Bootstrap.php';
if(!is_file($bootstrapPath))
    die("Error: platform bootstrap file not found in: ".$bootstrapPath."\n".
        "It seems you are missing DSL-platform project files\n".
        "To run tests, you need to download the zipped DSL-platform project from http://dsl-platform.com and extract the contents of platform folder to: ".__DIR__.'/platform/'."\n");

require_once __DIR__.'/BaseTestCase.php';

if (cfg('require_bootstrap') === 'true')
    require_once $bootstrapPath;

function cfg($key) {
    return isset($_ENV[$key]) ? $_ENV[$key] : null;
}

$project = parse_ini_file(__DIR__.'/platform/project.ini');
$url        = cfg('client_url') !== null ? cfg('client_url') : $project['api-url'];
$username   = cfg('client_username') !== null ? cfg('client_username') : $project['username'];
$password   = cfg('client_password') !== null ? cfg('client_password') : $project['project-id'];
        
$client = new NGS\Client\RestHttp($url, $username, $password);
NGS\Client\RestHttp::instance($client);

require_once __DIR__.'/BaseTestCase.php';
require_once cfg('modules_path');
